<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="ver 2013.01.09 1.01.02(.02)">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>http://116.236.144.2:17321/Upgrade/DownUpgradeFile?fileName=HiveNMSApp_v0.9.2.0.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string>http://img5.imgtn.bdimg.com/it/u=3321223963,2649534926&fm=26&gp=0.jpg</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <false/>
            <key>url</key>
            <string>http://img5.imgtn.bdimg.com/it/u=3321223963,2649534926&fm=26&gp=0.jpg</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.Teraband.HiveNMSTest</string>
          <key>bundle-version</key>
          <string>0.9.2.0</string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string></string>
          <key>title</key>
          <string>HiveNMSTest</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
